body{
font-family:Arial;
margin:20px;
}

table{
width:100%;
border-collapse:collapse;
}

th{
background:#333;
color:white;
padding:10px;
}

td{
padding:10px;
border:1px solid #ddd;
}

input{
width:70%;
padding:10px;
}

button{
padding:10px;
}

a{
padding:10px;
background:#007bff;
color:white;
text-decoration:none;
}
